#contents_inner {
  height: 70vh;
  width: 100vw;
}

#contents_frame {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  margin: 20px;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contents_contents {
  width: 93%;
  max-height: 100%;
  overflow: auto;
}

#contents_contents::-webkit-scrollbar {
  display: initial;
  width: 15px;
  height: 15px;
}

#contents_contents::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  height: 500px;
}

#contents_contents::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

.contents_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents_title h1 {
  margin-bottom: 0;
}

.contents_contents {
  border-radius: 20px;
  margin-bottom: 15px;
}

.fade_out {
  display: none;
}

.fade_in {
  opacity: 0;
  animation: 5s fadeIn forwards;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
