#contents_inner {
  height: 70vh;
  width: 100vw;
}

#contents_frame {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  margin: 20px;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contents_contents {
  height: 100%;
  width: 93%;
  overflow: auto;
}

#contents_contents::-webkit-scrollbar {
  display: initial;
  width: 15px;
  height: 15px;
}

#contents_contents::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  height: 500px;
}

#contents_contents::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

.contents_title {
  background-color: rgba(255, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents_title h1 {
  margin-bottom: 0;
}

.contents_contents {
  background-color: rgba(0, 255, 0, 0.3);
  border-radius: 20px;
  border-style: dotted;
}

#target {
  display: none;
}

#make_organizer_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#make_tournament_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#make_organizer_title h1 {
  margin-bottom: 0;
}

#make_tournament_title h1 {
  margin-bottom: 0;
}

#make_organizer_contents {
  background-color: rgba(0, 255, 0, 0.3);
}

#make_tournament_contents {
  background-color: rgba(0, 255, 0, 0.3);
}

.make_contents_cell {
  display: flex;
}

.make_contents_label {
  flex: 1;
  text-align: right;
}

.make_contents_input {
  flex: 3;
}

.center {
  text-align: center;
}
